<div class=" container container-fluid text-center font-weight-bold">
  <div class=" row box" >
    <div class="col-12 col-sm-6 p-2" >
      <div class=" card">
        <div class=" card-header ">Tempreature</div>
        <div class=" card-body bg-light text-dark">
          {{ temp }}
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 p-2" >
      <div class=" card">
        <div class=" card-header">Humidity</div>
        <div class=" card-body bg-light text-dark">
          {{ humidity }}
        </div>
      </div>
    </div>
  </div>
  <div class=" row box" >
    <div class="col-12 col-sm-6 p-2" >
      <div class=" card">
        <div class=" card-header">Ligt Sensor</div>
        <div class=" card-body bg-light text-dark">
          {{ light }}
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 p-2" >
      <div class=" card">
        <div class=" card-header">Motion</div>
        <div class=" card-body bg-light text-dark">
          {{ motion }}
        </div>
      </div>
    </div>
  </div>
</div>
